.thumbnail {
    height: 200px;
}

.Name {
    text-align: center;
    /*width: 50px;*/
}

.ticker {
    background-color: #F5F5F5;
    border-radius: 5px;
    padding: 0.5em;
    border: 1px solid #EBEBEB;
}

.league {
    text-align: center;
}
.league-badge {
    max-width: 100px;
    max-height: 100px;
}