.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.text-muted {
    min-height: 3em;
}
.connect-icons {
    margin-left: auto;
    margin-right: auto;
}

.page-content {
    background-color: rgba(0,0,0,0.50);
    border-radius: 10px;
    margin-top: 2em;
}

.page-content h1 {
    text-align: left;
    margin-left: 1em;
}