.site-logo {
    padding: 3px;
    height:50px;
}

.site-name {
    vertical-align: middle;
    font-weight: bold;
    color: #808080; 
    font-size: 14pt;
}

#search-form {
    margin-right: 0;
    margin-left: 0;
    border: 0;
}

.account-link {
    background-color: darkgreen;
    color: white;
    margin-bottom: 2px;
}

.account-link:hover {
    color: #FFF;
}

#logout {
    background-color: red;
    color: white;
}

.btn-twitter {
    background-color: #55acee;
    border-color:#2496EC;
}