.logo	{
	max-width: 120%;
	max-height: 120%;
}

.navbar-brand {
    padding-top: 5px;
}

#login-form {
    padding-top: 0.5em;
}

#search-form {
    margin-right: 0;
    margin-left: 0;
    border: 0;
}