.site-logo {
    padding: 3px;
    height:50px;
}

.site-name {
    vertical-align: middle;
    font-weight: bold;
    color: #808080; 
    font-size: 14pt;
}

#search-form {
    margin-right: 0;
    margin-left: 0;
    border: 0;
}

.btn-my-account {
    color: white !important;
    font-weight: bold !important;
    margin-bottom: 5px;
}
.btn-my-account:hover {
    background-color: #2e6da4 !important;
}

.btn-logout {
    color: white !important;
    font-weight: bold !important;
}
.btn-logout:hover {
    background-color: #d43f3a !important;
}

.btn-twitter {
    font-weight: bold;
}


/* styling for login modal to come */
/* change the cross icon to a paler colour */
.close {
    color: white !important;
}
.modal-title {
    color: white;
}
.modal-header {
    background-color: #252525;
}
.modal-body {
    background-color: #252525;
}
.modal-footer {
    background-color: #252525;
}

/* modal buttons */
.btn-sign-in {
    font-weight: bold;
    margin-right: 1em;
}
.btn-sign-up {
    background-color: #4cae4c;
    border-color: #4AA84A;
    font-weight: bold;
}