#profile-image {
    max-width: 100%;
    max-height: 100%;
}

#stat-name {
    text-align: center;
}

.stat-value {
    text-align: center;
}

.team-mate-name {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

label {
    float: left;
    width: 150px;
    text-align: right;
    margin-right: 0.5em;
}

h3 {
    margin-top: 0;
}

.chart {
    text-align: center;
}

.legend {
    text-align: center;
}

.legend ul{
    padding-left: 0;
    list-style-type: none;
}

/* Other players images */
.thumbnail {
    text-align: center;
}
.thumbnail img {
    height: 116px;
}

.rating-stars span {
    font-size: 1.5em;
}