.profile-image {
    max-width: 150px;
    height: 100px;
}

.pagination-links {
    text-align: center;
}

.message {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
    color: #AAA;
    font-weight: bold;
}